.App {
  text-align: center;
  padding: 40px;
}

.attack {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
  width: 100px;
  background-color: #f88080;
}
.attack:hover {
  background-color: #c70505;
  color: white;
}

.winner {
  font-weight: bold;
  font-size: 24px;
}

.btn {
  padding: 4px;
  margin: 10px;
  border-radius: 10px;

}
.btn:hover {
  background-color: #790404;
  color: white;
}

.layout{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.col1{
  width: 300px;

}

p.title {
  font-size:20px;
  font-weight:bold;
  text-align: left ;
}

.cube {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

.col10 {
  margin: 10px 10px 30px 10px;
}